<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
        <title>hello-vue</title>
        <link rel="stylesheet" href="/src/static/css/frozen.css">
        <link rel="stylesheet" href="/src/static/css/public.css">

    </head>
    <body>
        <div id="app">
            <transition>
                <keep-alive>
                    <router-view v-if="!$route.meta.notKeepAlive"></router-view>
                </keep-alive>
                <router-view v-if="$route.meta.notKeepAlive"></router-view>
            </transition>
        </div>
        <script src="/dist/print.build.js"></script>
        <script src="/dist/app.build.js"></script>
    </body>
</html>
